html, body {
    background: #F7F5E6;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slider {
    margin: 0 auto;
    max-width: 1300px;
}

.slide_viewer {
    height: 820px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {

}







.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 1650px;
    position: relative;
    top: -620px;

}

.previous_btn {
    bottom: 0;
    color: #01a1e4;
    margin: auto;
    position: absolute;
    left: 70px;
    top: 0;
}

.next_btn {
    color: #01a1e4;
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 10px;
    }
    .next_btn {
        right: 100px;
    }
}
@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}

/*
..................... Тіло в слайдері -----------*/

.mainSlider{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:flex;
    max-width:1300px;
    margin: auto;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex-flow: row wrap;
}
.container-slider{
    flex: 1 1 25%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
}
.image{
    flex:1 1 100%;
}

.image img{
    width: 100%;
    height: auto;
}
.text{
    padding-left: 10px;
    flex: 1 1 200px;
}
.name-company-slider{
    margin-top: 0px;
    color: #01a1e4;
}
.text p{
    margin-bottom: 0px;
}











